<div>
  <h2 class="text-white">Are you sure you want to delete this Transaction?</h2>
  <ul class="text-white">
    <li>
      <strong>Amount:</strong> RM{{ transaction.amount }}
    </li>
    <li>
      <strong>Payment Type:</strong> {{ transaction.payment_type }}
    </li>
    <li>
      <strong>Category:</strong> {{ transaction.category }}
    </li>
    <li>
      <strong>Transaction Type:</strong> {{ transaction.transaction_type }}
    </li>
    <li>
      <strong>Date time:</strong> {{ transaction.date_time|date:"M d, Y" }}
    </li>
    <li>
      <strong>Created By:</strong> {{ transaction.created_by }}
    </li>
  </ul>
  <div class="d-flex justify-content-end gap-2">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    <button class="btn btn-danger"
            hx-delete="{% url 'transactions-delete' pk=transaction.pk %}"
            hx-target="div.table-container"
            hx-swap="outerHTML"
            data-bs-dismiss="modal">Yes, Delete</button>
  </div>
</div>
