<!-- Modal -->
<div class="modal fade"
     id="transactionModal"
     tabindex="-1"
     aria-hidden="true">
  <div class="modal-dialog modal-lg mt-5">
    <div class="modal-content custom-modal">
      <div class="modal-header">
        <h2 class="modal-title text-white">Transaction</h2>
        <button type="button"
                class="btn btn-danger fw-bold"
                data-bs-dismiss="modal"
                aria-label="Close">X</button>
      </div>
      <div class="modal-body" id="modal-body">
        <!-- HTMX will load the form here -->
      </div>
    </div>
  </div>
</div>
