{% extends "layouts/base.html" %}
{% load static %}
{% block title %}
  Charts
{% endblock title %}
{% block content %}
  <div class="content">
    <!-- Bar Chart -->
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h5>Amount by Categories</h5>
          </div>
          <div class="card-body text-center">
            <div id="bar-chart"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Pie Chart -->
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h5>Amount by Categories</h5>
          </div>
          <div class="card-body text-center">
            <div id="pie-chart"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block extrajs %}
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script>
  document.addEventListener("DOMContentLoaded", function() {
    // parse the JSON strings into JS arrays
    var prices = JSON.parse('{{ amounts|escapejs }}');
    var names = JSON.parse('{{ categories|escapejs }}');

    var barOptions = {
      chart: { type: 'bar', height: 350 },
      series: [{ name: 'Price', data: prices }],
      xaxis: {
        categories: names,
        labels: {
          style: { colors: '#ffffff' }
        },
      },
      yaxis: {
        labels: {
          style: { colors: '#ffffff' }
        },
      },
      tooltip: {
        y: {
          formatter: function(val) {
            return `RM ${val.toLocaleString()}`;
          }
        }
      },
    };
    var barChart = new ApexCharts(document.querySelector("#bar-chart"), barOptions);
    barChart.render();

    var pieOptions = {
      chart: {
        type: 'pie',
        height: 350,
      },
      series: prices,
      labels: names,
      legend: {
        position: 'left', // moves legend to the left of pie chart
        labels: {
          colors: '#ffffff',
        }
      },
      tooltip: {
        y: {
          formatter: function(val) {
            return `RM ${val.toLocaleString()}`;
          }
        }
      },
    };
    var pieChart = new ApexCharts(document.querySelector("#pie-chart"), pieOptions);
    pieChart.render();
  });
  </script>
{% endblock extrajs %}
